<div class="container">
    <div class="row">
        <div class="col">
            <form (submit)="guardarEgreso()">
                <div class="form-group">
                    <label class="form-label mt-4" for="numero">Número:</label>
                    <input class="form-control" type="text" id="numero" [(ngModel)]="egreso.numero" name="numero"
                        required>
                </div>

                <div class="form-group">
                    <label class="form-label mt-4" for="detalle">Detalle:</label>
                    <input class="form-control" type="text" id="detalle" [(ngModel)]="egreso.detalle" name="detalle" required>
                </div>

                <div class="form-group">
                    <label class="form-label mt-4" for="categoria">Categoría:</label>
                    <input class="form-control" type="text" id="categoria" [(ngModel)]="egreso.categoria" name="categoria" required>
                </div>

                <div class="form-group">
                    <label class="form-label mt-4" for="fecha">Fecha:</label>
                    <input class="form-control" type="date" id="fecha" [(ngModel)]="egreso.fecha" name="fecha" required>
                </div>

                <div class="form-group">
                    <label class="form-label mt-4" for="valor">Valor:</label>
                    <input class="form-control" type="number" id="valor" [(ngModel)]="egreso.valor" name="valor" required>
                </div>

                <button class="btn btn-info" type="submit">{{ modoEdicion ? 'Actualizar' : 'Guardar' }}</button>
            
            </form>
        </div>
    </div>
</div>